@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

.book-card-container {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    column-gap: 30px;
}

.title-text { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    margin-right: auto;
    font-size: 1.3rem;
}

.read-text-and-delete-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    column-gap: 10px;
}

.read-yes-text {
    font-size: 0.8rem;
    cursor: pointer;
}

.read-no-text {
    font-size: 0.8rem;
    cursor: pointer;
}

.del-btn {
    background-image: url('images/delete.png');
    width: 24px;
    height: 24px;
    cursor: pointer;
}