@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
    --default-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --blueish: #dbe6f6;
    --whiteish: hsl(220, 27%, 96%);
    --brownish: #c5796d;
}

*,*::after,*::before {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 120px 6.5fr;
    background-color: hsl(220, 27%, 96%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background: linear-gradient(to right, var(--blueish), var(--brownish));
    box-shadow: var(--default-box-shadow);
}

main {
    margin: 1rem;
    display: grid;
    grid-template-rows: 120px 6fr;
}

section:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(2) {
    display: grid;
    grid-template-columns: minmax(770px, 1000px);
    grid-auto-rows: 50px;
    margin: 0 auto;
    row-gap: 10px;
    /*padding: 2rem 4rem 2rem 5rem;*/
}

.add-book {
    padding: 1rem 1.25rem; 
    border-radius: 20px;
    border: 3px dashed black;
    cursor: pointer;
    background-color: var(--brownish);
    box-shadow: var(--default-box-shadow);
    font-size: 1.2rem;
    font-weight: 700;
}

.pop-up {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 400ms ease-in-out;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 1.3rem;
    background-color: var(--whiteish);
    z-index: 10;
}

.pop-up.active {
    transform: translate(-50%,-50%) scale(1);
}

form > h2 {
    text-align: center;
}

form > div {
    padding-top: 10px;
}

div > label {
    font-weight: 500;
}

div > input {
    border-radius: 10px;
    border: 2px solid black;
    padding: 2px;
    font-size: 1.1rem;
    font-weight: 300;
}

.pop-up-radio-container {
    display: flex;
    column-gap: 5px;
    margin-top: 10px;
}

.pop-up-radio-container > label[for="read"] {
    margin-right: auto;
}

.pop-up-btn-container {
    text-align: center;
    margin-top: 15px;
}

.pop-up-btn {
    padding: 0.5rem 0.75rem; 
    border-radius: 20px;
    border: 3px dashed black;
    cursor: pointer;
    background-color: var(--brownish);
    box-shadow: var(--default-box-shadow);
    font-size: 1.1rem;
    font-weight: 700;
}

.overlay {
    display: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 400ms ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}